<div class="hero-image">
    <div class="hero-text">
        <p>Explore our unique collection of vintage analog synthesizers</p>
    </div>
</div>

<div class="home-info-group">
    <div class="icon-group">
        <img src="/images/synth_002.svg" alt="synthesizer icon"> 
        <div class="home-text-group">
            <h2>Authentic Analog </h2> 
            <p>True analog synthesis allows you to quickly and easily whip up virtually any monophonic — or polyphonic —
            sound you can dream up. Each synth in our collection has authentic VCO, VCF, VCA, and ladder filter designs
            working in concert with fully analog triangle/square wave VCOs.</p>
        </div>
    </div>

    <div class="icon-group">
        <img src="/images/analog-wave.svg" alt="audio waveform icon">
        <div class="home-text-group">
            <h2>Classic Circuits</h2> 
            <p>Our classic circuits consist of matched transistors
            and JFETs, ultra-high-precision 0.1% thin film resistors, and polyphenylene sulfide capacitors.
            In addition, each synth in the collection includes stereo analog
            Chorus, and true analog Distortion (overdrive) circuits.</p>
        </div>
    </div>
</div>